#background_image {
    background-image: url('Chengdu.PNG');
    background-size: cover;
}

h1 {
    color: hsl(82, 42%, 15%);
}

h2 {
    color: hsl(82, 42%, 15%);
}

.colorful-text {
    color: #874141
}

.color_rgb  {
    background-color: rgb(251, 247, 241);
}
